<h1>Carritos</h1>

{{#if carritos.length}}
  <ul>
    {{#each carritos}}
      <li>
        <h2>ID: {{this._id}}</h2>
        <p>Usuario: {{this.user}}</p>
        <p>Productos:{{this.price }}</p>
        <ul>
          {{#each this.products}}
            <li>{{this.title}} (Cantidad: {{this.quantity}})</li>
          {{/each}}
        </ul>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay carritos disponibles.</p>
{{/if}}

  <a href="/realTimeProducts" class="button">Agregar Producto</a>
  <a href="/vaciar-carrito" class="button">Vaciar Carrito</a>
  <a href="/menu" class="button">volver al menu</a>

  <script src="./socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>