{{#if user}}
  <p>BIENVENIDO: {{user.first_name}} {{user.last_name}}</p>
{{else}}
  <p>Usuario no encontrado</p>
{{/if}}

<h2>Lista de Productos</h2>
<ul>
    {{#each products}}
        <li>
            {{this.title}} - {{this.description}} - ${{this.price}} ({{this.stock}} unidades)
            <form class='product-form' cart="{{../cart}}" product="{{this._id}}">
                <input type='submit' value='Agregar al Carrito' class="product-button" />
            </form>
        </li>
    {{/each}}
</ul>

<a href="/carrito/{{user._id}}" class="button">Ir al Carrito</a>
<a href="/menu" class="button">Volver al Menú</a>


<script src="addProductToCart.js"></script>
<script src="/js/index.js"></script>
