<h1>Real-Time Products</h1>
  
  <!-- Formulario para crear un nuevo producto -->
  <form method="POST" action="/api/sessions/realTimeProducts">
    <input type="text" name="title" placeholder="Título" required>
    <input type="text" name="description" placeholder="Descripción" required>
    <input type="number" name="price" placeholder="Precio" required>
    <input type="text" name="category" placeholder="Categoría" required>
    <input type="text" name="thumbnail" placeholder="URL de la imagen" required>
    <input type="text" name="code" placeholder="Código" required>
    <input type="number" name="stock" placeholder="Stock" required>

    <button type="crearProducto">Crear Producto</button>
  </form>
  
  <!-- Lista de productos -->
  <ul id="productos-list">
    {{#each productos}}
      <li>
        <h2>{{this.title}}</h2>
        <p>{{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Categoría: {{this.category}}</p>
        <p>URL de la imagen: {{this.thumbnail}}</p>
        <p>Código: {{this.code}}</p>
        <p>Stock: {{this.stock}}</p>
        <p>Id: {{this._id}}</p>

        <button class="delete-btn" data-id="{{this._id}}">Eliminar</button>
        <button class="edit-btn" data-id="{{this._id}}">Editar</button>
      </li>
    {{/each}}
  </ul>